/*====================*/
/*     TYPOGRAPHY     */
/*====================*/

html {
  font-size: var(--font-size);

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: var(--font-family-main);
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
}

.paragraph {
  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}
